# Terraform local/state artifacts
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Keep Terraform dependency lock file versioned
!**/.terraform.lock.hcl
terraform.tfvars
