apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: {{ grafana_prometheus_url }}
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST

  - name: Jaeger
    type: jaeger
    uid: jaeger
    access: proxy
    url: {{ grafana_jaeger_url }}
    editable: true
    jsonData:
      tracesToLogsV2:
        datasourceUid: prometheus
        tags:
          - key: "service.name"
            value: "service"
        filterByTraceID: true
        filterBySpanID: true
      nodeGraph:
        enabled: true
